vendor/
.env

#Eclipse
.buildpath
.project
.settings/

#sql query file for quick and dirty database checks
sqlquery.txt

#text file listing the resources referenced to help build the site
resources.txt

#code library for copy paste stuff
codeSamples.php

#images uploaded to local directory
upload_pic/*
*.jpg
*.png