body {
	font-family: Goudy Old Style, Garamond, Big Caslon, Times New Roman, serif;
	font-size: 90%;
	line-height: 1.166;
	margin: 0px;
	padding: 0px;
}

a {
	color: #006699;
	text-decoration: none;
}

a:link {
	color: #006699;
	text-decoration: none;
}

a:visited {
	color: #006699;
	text-decoration: none;
}

a:hover {
	color: #006699;
	text-decoration: underline;
}

h1 {
	font-family: Verdana, Arial, sans-serif;
	font-size: 120%;
	color: #334d55;
	margin: 0px;
	padding: 0px;
}

h2 {
	font-family: Arial, sans-serif;
	font-size: 120%;
	color: #334d55;
	margin: 0px;
	padding: 0px;
}

h3 {
	font-family: Arial, sans-serif;
	font-size: 110%;
	color: #334d55;
	margin: 0px;
	padding: 0px;
}

h4 {
	font-family: Arial, sans-serif;
	font-size: 100%;
	color: #334d55;
	margin: 0px;
	padding: 0px;
}

#nav {
	display: none;
	padding: 5px;
	border-bottom: 5px solid #666699;
	float: right;
	width: 50%;
	min-height: 750px;
}

#main {
	padding-left: 10px; 
	padding-top: 10px;
	border-bottom: 5px solid #666699;
	float: left;
	width: 48%;
	display: block;
	min-height: 750px;
	position: relative;
	/* this makes it only show in the "main" section as a partial image only at the top of the main div, not in the heading*/
}

#main::after {
	content: ""; /*does this do anything? */
	opacity: 0.50;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.demoInputBox{
	font-family: Goudy Old Style, Garamond, Big Caslon, Times New Roman, serif;
	font-size: 110%;
	font-weight: bold;
	border-radius: 10px;
	margin-left: 10px;
}

.row1 {
	display: none;
}

.row1 p, .row2 p, .row3 p, .row4 p {
	display: none;
}

.row2 {
	display: none;
}

.row3 {
	display: none;
}

.row4 {
	display: none;
}

#card-info {
	clear: both;
	width:95%;
}

/* for now left and right are the bullet points at the top*/
.left {
	font-family: Papyrus, fantasy;
	/* font-size: 70%; */
	font-weight: bold;
	clear: both;
	width: 39%;
	float: left;
	/* top right bottom left */
	/* margin: 10px 0px 10px 0px; */
	padding-top: 5px;
	padding-bottom: 5px;
	/* border-top-left-radius: 25px; */
	border: 1px solid #062F4F; 
	box-shadow: 10px 10px 5px #062F4F;
}

.right {
	font-family: Papyrus, fantasy;
	/* font-size: 70%; */
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 10px;
	width: 40%;
	float: right;
	border: 1px solid #062F4F; 
	box-shadow: 10px 10px 5px #062F4F;
}

.left ul, .right ul {
	/* height: 125px; */
	
}

.left li, .right li {
	/* height: 125px; */
	padding-bottom: 5px;
	/* padding-top: 5px; */
}

.left span, .right span {
	position: relative;
	left: -10px;
}

/* for now left-top/bottom and right-top/bottom are the heart, present and primary sections*/
/*.wrapper {

	 /* padding-bottom: 10px;  */

/* 	width: 110%; */
/* clear: both;
	border-bottom: 3px solid red; */
/*}*/
.left-top {
	padding-left: 5px;
	width: 46%;
	float: left;
	border: 1px solid #062F4F; 
	box-shadow: 10px 10px 5px #062F4F;
}

.left-bottom {
	clear: both;
	margin-top:15px;
	padding-left: 5px;
	width: 46%;
	float: left;
	 border: 1px solid #062F4F; 
	box-shadow: 10px 10px 5px #062F4F;
}

.right-top {
	padding-left: 15px;
	width: 44%;
	float: left;
	margin-left: 15px;
	margin-right: 10px;
	border: 1px solid #062F4F; 
	box-shadow: 10px 10px 5px #062F4F;
}

.right-bottom {
	margin-top:15px;
	margin-left: 15px;
	margin-right: 10px;
	padding-left: 15px;
	width: 44%;
	float: left;
	border: 1px solid #062F4F; 
	box-shadow: 10px 10px 5px #062F4F;
}

.left-top span, .right-top span, .left-bottom span, .right-bottom span {
	position: relative;
	left: -15px;
}

.left-top ul {
	height: 125px;
}

.left-top p, .right-top p, .left-bottom p, .right-bottom p {
	font-family: Papyrus, fantasy;
	font-weight: bold;
	font-size: 105%;;
}

.left-bottom ul {
	/*  height: 125px;  */
	
}

.right-top ul {
	height: 125px;
}

.right-bottom ul {
	/* height: 125px; */
	
}

p+ul {
	margin-top: -10px;
}

.noBullet {
	list-style-type: none;
}

.centered {
	margin: auto;
	width: 65%;
}

#selectCardLabel {
	display: none;
}

#selectCardLabelSpreadName{
	font-family: Papyrus, fantasy;
	font-size: 150%;
	font-weight: bold;
	padding: 5px 10px 0px 8px;
	width: 95%;
	color: white; 
	text-shadow: black 0.1em 0.1em 0.2em;
	text-transform: uppercase;
}

#spreadPositionImage {
	/* top right bottom left */
	margin-top: 10px; /* shoves the image down away from the header */
	/* top right bottom left */
	padding: 0px 0px 5px 10px;
	float: right;
	width: 152px;
	height: 114px;
	background-image: url(celticCrossSpread_pos1.jpg);
	/* vertical horizontal */
	background-size: 152px 114px;
	background-repeat: no-repeat;

}

#spreadPositionLabel {
	margin: 0px;
	/* top right bottom left */
	padding: 20px 10px 15px 10px;
	float: right;

}

#spreadName {
	font-family: Papyrus, fantasy;
	text-align: right;
	font-size: 150%;
	font-weight: bold;
	color: white; 
	text-shadow: black 0.1em 0.1em 0.2em;
	padding-right: 10px;
}

#cardPosition {
	font-family: Perpetua, Baskerville, Big Caslon, Palatino Linotype, Palatino, URW Palladio L, Nimbus Roman No9 L, serif;
	text-align: right;
	font-size: 200%;
	font-weight: bold;
	color: white; 
	text-shadow: black 0.1em 0.1em 0.2em;
	padding-right: 10px;
}

#cardImageUrl {
	float: right;
	padding: 10px;
}

#cardInfo {
	padding-top: 15px;
}

#cardName {
	font-size: 150%;
	color: black;
	font-weight: bold;
	padding: 7px; 
	/* horizontal vertical */
	border-top-left-radius: 15px 30px;
}

#cardDescription {
	font-size: 110%;
	color: black;
	padding: 7px; 
}

#header {
	display: none;
}

#header h1 {
	font-size: 300%;
	font-weight: bold;
	font-family: Papyrus, fantasy;
	padding-top: 20px;
	padding-left: 7px;
}

#header h4 {
	font-family: Papyrus, fantasy;
}

#footer {
 	display: none;
}

#welcome {
	margin: 2em auto;
	padding: 10px 30px;
}

#navigation {
  display: none;
}