body {
    background-color: #ebebe0;
    margin: 0;
    padding: 0;
    text-align: center;  /* !!! */
}

h1 {
	font-weight: bold;
	 text-align: center
   /* color: navy; */
   /* margin-left: 20px; */
}

.centered {
    margin: 0 auto;
    border-style: solid;
    text-align: left;
    width: 600px;
    padding: 10px;
}

#bulletPoints {
	width: 100%;
	/*background-color: lightblue;*/
	/*overflow: hidden; */
}

.left {
	margin-top: 0px;
	width: 300px;
	float: left;
	/*background-color: pink;*/
}

.right {
	margin-top: 0px;
	margin-left: 320px;
	/*background-color: orange;*/
}

.leftColumn {
	width: 300px;
	float: left;
	/*padding-left: 50px;*/
	/*background-color: red;*/
}

.leftColumn p {
	margin-top: 0px;
	text-transform: uppercase;
	font-size: 80%;
}

.rightColumn {
	margin-left: 320px;
	/*background-color: yellow;*/
}

.rightColumn p {
	margin-top: 0px;
	text-transform: uppercase;
	font-size: 80%;
}

.noBullet {
	list-style-type: none;
}

ul {
	margin-top:-10px;
	padding-left: 15px; 
}
